<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial;
            font-size: 12px;
        }

        .chart img {
            width: 100%;
            max-height: 340px;
        }

        .page-break {
            page-break-before: always;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1cm;
        }
        table span {
            font-size: 10px;
            font-weight: normal;
        }
        thead {
            display: table-header-group !important;
        }

        tbody {
            display: table-row-group !important;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <h3>Recipe phase set points</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Phase</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Name</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date & time</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pH</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pO2<br/><span>%</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">STIR<br/><span>rpm</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Temp<br/><span>°C</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">AIR<br/><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">O2<br/><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">CO2<br/><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">OvrA<br/><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">FOAM<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">MEDIA<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">ACID<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">BASE<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Depression<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Induction<br/><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Addition<br/><span>ml/min</span></th>
            </tr>
        </thead>
        <tbody>
            {% for row in recipe_phase %}
            <tr>
                <td>{{ row.Phase_number }}</td>
                <td>{{ row.Phase_name }}</td>
                <td>{{ row.timestamp }}</td>
                <td>{{ row.pH_mode }}</td>
                <td>{{ row.pO2_mode }}</td>
                <td>{{ row.STIR_mode }}</td>
                <td>{{ row.temp_mode }}</td>
                <td>{{ row.AIR_mode }}</td>
                <td>{{ row.O2_mode }}</td>
                <td>{{ row.CO2_mode }}</td>
                <td>{{ row.OvrA_SP }}</td>
                <td>{{ row.FOAM_mode }}</td>
                <td>{{ row.MEDIA_mode }}</td>
                <td>{{ row.ACID_mode }}</td>
                <td>{{ row.BASE_mode }}</td>
                <td>{{ row.Depression_mode }}</td>
                <td>{{ row.Induction_mode }}</td>
                <td>{{ row.Addition_mode }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Recipe phase transition</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Phase</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Mode</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pH</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pO2<br/><span>%</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">STIR<br/><span>rpm</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Temp<br/><span>°C</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">O2<br/><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">MEDIA<br/><span>ml/min</span></th>
            </tr>
        </thead>
        <tbody>
            {% for row in recipe_transition %}
            <tr>
                <td>{{ row.phase_number }}</td>
                <td>{{ row.mode }}</td>
                <td>{{ row.ph_sp }}</td>
                <td>{{ row.pO2_sp }}</td>
                <td>{{ row.stir_sp }}</td>
                <td>{{ row.temp_sp }}</td>
                <td>{{ row.o2_sp }}</td>
                <td>{{ row.media_sp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <!--
    {% if recipe_start %}
    <h3>Recipe setup</h3>
    <h4>Charge</h4>
    <table>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Recipe name</td>
            <td>{{ recipe_start[0].recipe_name }}</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pH</td>
            <td>{{ recipe_start[0].pH }} pH</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Temp</td>
            <td>{{ recipe_start[0].TS0001 }} °C</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">OvrA</td>
            <td>{{ recipe_start[0].OvrA }} l/min</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pO2</td>
            <td>{{ recipe_start[0].pO2 }} %sat</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">STIR</td>
            <td>{{ recipe_start[0].STIR }} rpm</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">AIR</td>
            <td>{{ recipe_start[0].AIR }} l/min</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">O2</td>
            <td>{{ recipe_start[0].O2 }} l/min</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">FOAM</td>
            <td>{{ recipe_start[0].FOAM }} ml/min</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">MEDIA</td>
            <td>{{ recipe_start[0].MEDIA }} ml/min</td>
        </tr>
        <tr>
            <td style="text-align:center; background-color:#e0e0e0; font-weight:bold;">ACID</td>
            <td>{{ recipe_start[0].ACID }} ml/min</td>
        </tr>
        <tr>

        </tr>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    {% endif %}
    -->
    <h3>Batch data</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date & time</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Phase name</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pH</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">pO2<br /><span>%</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">STIR<br /><span>rpm</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Temp<br /><span>°C</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">AIR<br /><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">O2<br /><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">CO2<br /><span>l/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">OvrA<br /><span></span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">FOAM<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">MEDIA<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">ACID<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">BASE<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Depression<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Induction<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Addition<br /><span>ml/min</span></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">WI01<br /><span>kg</span></th>
            </tr>
        </thead>
        <tbody>
            {% for row in phases_history %}
            <tr>
                <td>{{ row.timestamp }}</td>
                <td>{{ row.phase_name }}</td>
                <td>{{ row.pH_PV }}</td>
                <td>{{ row.pO2_PV }}</td>
                <td>{{ row.STIR_PV }}</td>
                <td>{{ row.Temp_PV }}</td>
                <td>{{ row.AIR_PV }}</td>
                <td>{{ row.O2_PV }}</td>
                <td>{{ row.CO2_PV }}</td>
                <td>{{ row.OvrA_PV }}</td>
                <td>{{ row.AFOAM_PV }}</td>
                <td>{{ row.MEDIA_PV }}</td>
                <td>{{ row.ACID_PV }}</td>
                <td>{{ row.BASE_PV }}</td>
                <td>{{ row.Depression_PV }}</td>
                <td>{{ row.Induction_PV }}</td>
                <td>{{ row.Addition_PV }}</td>
                <td>{{ row.WI01_PV }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    {% for chart in charts %}
    <div class="chart">
        <img src="{{ chart }}" style="width: 100%; max-height: 340px; margin-bottom: 10px;">
    </div>

    {% if loop.index is divisibleby 2 and not loop.last %}
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    {% endif %}
    {% endfor %}
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Warning and errors</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date & time</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">User</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in warnings %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.user }}</td>
                <td>{{ row.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Audit trail</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date & time</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">User</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in events %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.user }}</td>
                <td>{{ row.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Batch Report Approval</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;"></th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Signature</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Date</th>
                <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Remark</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;">Reviewed by</td>
                <td style="padding: 50px;"></td>
                <td style="padding: 50px;"></td>
                <td style="padding: 50px;"></td>
            </tr>
            <tr>
                <td style="padding: 10px;">Approved by</td>
                <td style="padding: 50px;"></td>
                <td style="padding: 50px;"></td>
                <td style="padding: 50px;"></td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
</body>

</html>