<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial;
            font-size: 12px;
        }

        .chart img {
            width: 100%;
            max-height: 350px;
        }

        .page-break {
            page-break-before: always;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1cm;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>

<body>

    {% for chart in charts %}
    <div class="chart">
        <img src="{{ chart }}" style="width: 100%; max-height: 350px; margin-bottom: 10px;">
    </div>

    {% if loop.index is divisibleby 2 and not loop.last %}
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    {% endif %}
    {% endfor %}
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Warning and Errors</h3>
    <table>
        <tr>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">User</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Actions</th>
        </tr>
        {% for row in warnings %}
        <tr>
            <td>{{ row.date }}</td>
            <td>{{ row.user }}</td>
            <td>{{ row.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>
    <h3>Events</h3>
    <table>
        <tr>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Date</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">User</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold;">Actions</th>
        </tr>
        {% for row in events %}
        <tr>
            <td>{{ row.date }}</td>
            <td>{{ row.user }}</td>
            <td>{{ row.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
    <div class="page-break"></div>

    <h3>Batch Report Approval</h3>
    <table>
        <tr>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;"></th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Signature</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Date</th>
            <th style="text-align:center; background-color:#e0e0e0; font-weight:bold; padding: 40px;">Remark</th>
        </tr>
        <tr>
            <td style="padding: 10px;">Reviewed by</td>
            <td style="padding: 50px;"></td>
            <td style="padding: 50px;"></td>
            <td style="padding: 50px;"></td>
        </tr>
        <tr>
            <td style="padding: 10px;">Approved by</td>
            <td style="padding: 50px;"></td>
            <td style="padding: 50px;"></td>
            <td style="padding: 50px;"></td>
        </tr>
    </table>
    <div style="text-align:right; font-size:10px; font-family:Arial;">
        {{ printed_by }}
    </div>
</body>

</html>